.btn-back {
  border-radius: 50%;
  background: #ffa200;
  background: linear-gradient(#ffa200, #cc6600),
    linear-gradient(#ffa200 0%, #ffa200 49%, #cc6600 60%, #cc6600);
  width: 100px;
  height: 100px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-right: 30%;
}

.btn-main {
  border-radius: 20px;
  background: #6b778d;
  background: linear-gradient(#6b778d, #dadada),
    linear-gradient(#6b778d 0%, #6b778d 49%, #dadada 60%, #dadada);
  width: 300px;
  height: 120px;
  padding: 20px;
  outline: none;

  margin-bottom: 65px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 23px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-number {
  border-radius: 8px;

  outline: none;
  width: 60px;
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  margin-left: 20px;

  font-size: 23px;
  font-weight: bold;
}

.btn-game {
  width: 180px;
  height: 183px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 100px;
  outline: none;
}

#mega-sena {
  background: url(../img/megasena.png) no-repeat;
}

#loto-mania {
  background: url(../img/lotomania.png) no-repeat;
}

#dupla-sena {
  background: url(../img/duplasena.png) no-repeat;
}

#time-mania {
  background: url(../img/timemania.png) no-repeat;
}

.btn-mim-red {
  border-radius: 6px;
  background: #f70404;
  background: linear-gradient(#f70404, #f35656),
    linear-gradient(#f70404 0%, #f70404 49%, #f35656 60%, #f35656);
  width: 100px;
  height: 70px;
  outline: none;
  margin: 10px;

  font-size: 23px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-red {
  border-radius: 6px;
  background: #f70404;
  background: linear-gradient(#f70404, #f35656),
    linear-gradient(#f70404 0%, #f70404 49%, #f35656 60%, #f35656);
  width: 200px;
  height: 70px;
  outline: none;
  margin: 10px;

  font-size: 23px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-mim-green {
  border-radius: 6px;
  background: #02bd02;
  background: linear-gradient(#02bd02, #67ee85),
    linear-gradient(#02bd02 0%, #02bd02 49%, #67ee85 60%, #67ee85);
  width: 100px;
  height: 70px;
  outline: none;
  margin: 10px;

  font-size: 23px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-green {
  border-radius: 6px;
  background: #02bd02;
  background: linear-gradient(#02bd02, #67ee85),
    linear-gradient(#02bd02 0%, #02bd02 49%, #67ee85 60%, #67ee85);
  width: 200px;
  height: 70px;
  outline: none;
  margin: 10px;

  font-size: 23px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
