/* Global -------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  background-image: url(../img/background.jpg);
}

.container {
  flex: 1;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
}

.content {
  flex: 1;
  overflow: hidden;
  /* visibility: hidden;
  opacity: 0;*/
}

.container-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.container-buttons {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
}
