/* Global -------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.jpg);
}

.container {
  display: none;
  min-height: 90vh;
  flex-direction: column;
}

.container-show {
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  margin-top: 5vh;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px 15px;
}

footer p {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer div img {
  width: 40px;
  height: 40px;
}

.container-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.container-buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}

.container-buttons-confirmation {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.container-table {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  width: 90%;
}

table {
  margin-top: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100vh;
  padding: 10px;

  background: #ddd;
  border-radius: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  color: #000;
  font-weight: bold;
  padding: 10px;
  border: 1px solid rgb(175, 174, 174);
}

.label-games {
  font-weight: normal;
  color: #000;
  font-size: 25px;
}

.number-games {
  color: rgb(243, 161, 9);
  font-weight: bold;
  font-size: 25px;
}

.label-amount {
  color: rgb(3, 243, 55);
  font-weight: bold;
  font-size: 25px;
}

.table-header {
  font-weight: bold;
  color: #000;
  font-size: 25px;
}

.table-total {
  font-weight: bold;
  color: #000;
  font-size: 25px;
}

.table-total-amount {
  font-weight: bold;
  color: rgb(3, 243, 55);
  font-size: 25px;
}

.table-right {
  text-align: right;
}

.icon {
  width: 60px;
  height: 60px;
}

.section.is-show {
  display: block;
}

.section {
  display: none;
}
